<div class="homeimage">
  <%= image_tag("livingleastlogoblk.png") %> <br>
  <h2>Win by spending less than your friends</h2> <br>
  <%= link_to "Sign Up To Play!", new_user_registration_path, class: "btn btn-success btn-large"  %>
</div>